<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Dang, I Need A Bus!</h1>

      <p class="text-center">
        Give us your address or corner and we'll let you know if there's a bus nearby.
      </p>

      <%= render 'form', location: @location %>
    </div>
  </div>
</div>
